<header>
  <nav>
    <div class="navbar">
      <h1>SIMPLE CRUD</h1>
      <p-button
        icon="pi pi-plus-circle"
        [text]="true"
        [rounded]="true"
        size="large"
        [style]="{ 'margin-right': '1rem' }"
        severity="success"
        (click)="displayDialog = true"
      ></p-button>
    </div>
  </nav>
</header>

<body>
  <!-- <div class="p-inputgroup">
    <i class="pi pi-search search-icon" (click)="searchSiswa(searchName)"></i>
    <input
      type="text"
      placeholder="Search by name"
      pInputText
      [(ngModel)]="searchName"
      class="search-input"
      (keyup.enter)="searchSiswa(searchName)"
    />
    <i class="pi pi-times clear-icon" *ngIf="searchName" (click)="clearSearch()"></i>
  </div> -->
  <div class="container">
    <div class="card">
      <div class="card-body">
        <p-table
          [value]="siswa"
          [paginator]="true"
          [rows]="7"
          [globalFilterFields]="['siswaId', 'nisn', 'nama_lengkap', 'tanggal_lahir', 'alamat', 'nam_oOrtu', 'telp', 'foto', 'status', 'tahunAjaran.periode']"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>ID Siswa</th>
              <th>NISN</th>
              <th>Nama Lengkap</th>
              <th>Tanggal Lahir</th>
              <th>Alamat</th>
              <th>Nama Orangtua</th>
              <th>Telp</th>
              <th>Foto</th>
              <th>Status</th>
              <th>Tahun Ajaran</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-siswa>
            <tr>
              <td>{{ siswa.siswaId }}</td>
              <td>{{ siswa.nisn }}</td>
              <td>{{ siswa.nama_lengkap }}</td>
              <td>{{ siswa.tanggal_lahir | date: 'yyyy-MM-dd' }}</td>
              <td>{{ siswa.alamat }}</td>
              <td>{{ siswa.nama_ortu }}</td>
              <td>{{ siswa.telp }}</td>
              <td>{{ siswa.foto }}</td>
              <td>{{ siswa.status ? 'Active' : 'Inactive' }}</td>
              <td>{{ siswa.tahunAjaran.periode }}</td>
              <td>
                <p-button
                  icon="pi pi-pencil"
                  [text]="true"
                  [rounded]="true"
                  size="small"
                  [style]="{ 'margin-right': '1rem' }"
                  severity="info"
                  (click)="editSiswa(siswa)"
                ></p-button>
                <p-button
                  icon="pi pi-trash"
                  [text]="true"
                  [rounded]="true"
                  size="small"
                  severity="danger"
                  (click)="deleteSiswa(siswa.siswaId)"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</body>

<p-dialog
  header="{{ isEditing ? 'Edit User' : 'Add User' }}"
  [(visible)]="displayDialog"
  [modal]="true"
  [style]="{ width: '50vw' }"
  (onHide)="resetForm()"
>
  <form class="form" [formGroup]="siswaForm">
    <div class="input">
      <label for="siswaId">ID Siswa</label>
      <input id="siswaId" type="text" formControlName="siswaId" pInputText />
    </div>
    <div class="input">
      <label for="nisn">NISN</label>
      <input id="nisn" type="text" formControlName="nisn" pInputText />
    </div>
    <div class="input">
      <label for="nama_lengkap">Nama Lengkap</label>
      <input id="nama_lengkap" type="text" formControlName="nama_lengkap" pInputText />
    </div>
    <div class="input">
      <label for="tanggal_lahir">Tanggal Lahir</label>
      <input id="tanggal_lahir" type="text" formControlName="tanggal_lahir" pInputText />
    </div>
    <div class="input">
      <label for="alamat">Alamat</label>
      <input id="alamat" type="text" formControlName="alamat" pInputText />
    </div>
    <div class="input">
      <label for="nama_ortu">Nama Ortu</label>
      <input id="nama_ortu" type="text" formControlName="nama_ortu" pInputText />
    </div>
    <div class="input">
      <label for="telp">Telp</label>
      <input id="telp" type="text" formControlName="telp" pInputText />
    </div>
    <div class="input">
      <label for="foto">Foto</label>
      <input id="foto" type="text" formControlName="foto" pInputText />
    </div>
    <div class="input">
      <label for="status">Status</label>
      <input id="status" type="text" formControlName="status" pInputText />
    </div>
    <div class="input">
      <label for="tahunAjaran">Tahun Ajaran</label>
      <input id="tahunAjaran" type="text" formControlName="tahunAjaran" pInputText />
    </div>
    <p-button
      [style]="{ 'margin-top': '1rem' }"
      label="Submit"
      size="small"
      (click)="isEditing ? updateSiswa() : addSiswa()"
    ></p-button>
  </form>
</p-dialog>
